body{
      background-color: rgba(243, 243, 243, 0.39) !important;

}
.nav-home{
    background-color: white;
}
.post-details-container{
    display: flex;
    justify-content: center;
    width: max-content;
    height: 600px;
    margin: 30px auto;
    border: 1px solid rgba(167, 167, 167, 0.391);
    background-color: white;
}
.left-details {
    height: 598px;
    border-right: 1px solid rgba(167, 167, 167, 0.391);
}
.left-details > img{
    max-width: 900px;
    height: 598px;
    object-fit: cover;
}
.right-details{
    padding-top: 15px;
    position: relative;
    width: 340px;
}
.post-details-username{
    margin-left: 5px;
}
.top-right-details{
    padding-top: 5px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    justify-content: space-between;
    padding-right: 20px;
}
.top-right-details > a{
    display: flex;
    align-items: center;

}
.post-options-button{
    /* margin-left: 120px; */
    cursor: pointer;
}
.post-details-caption{
    font-size: smaller;
    color: rgba(0, 0, 0, 0.706);
    padding-bottom: 50px;
    padding-left: 50px;
    border-bottom: 1px solid rgba(167, 167, 167, 0.391);


}
.post-options-button{
    /* position: absolute; */
    right: 35px;
}
.options-separator{
    /* display: flex;
    justify-content: space-around; */
    /* align-items: center; */
}
.pd-like-comment{
    border-radius: 500px;
}
.pd-edit-modal{
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    margin: 0 auto;
}
.comment-content{
    /* overflow-wrap: break-word; */
    padding-left: 30px;
    width: 200px;
    height: 150px;
    flex-wrap: wrap;
    position: absolute;
    left: 60px;
    top: 20px;
}
.middle-right-details{
    /* margin-top: 30px; */
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(167, 167, 167, 0.391);
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    /* height: 350px; */
    height: 62%;
}
.middle-right-details > *{
    max-width: 300px;
    padding-top: 15px;

}
.middle-right-details::-webkit-scrollbar {
    /* display: none; */
    /* visibility: hidden; */
  }

.comment-likes-section{
    display: flex;
    justify-content: space-between;

}
.heart{
    font-size: 5px;
}
.comment-users-info {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    position: relative;
    margin-bottom: 30px;

}
.comment-user-details{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
.comment-user-details > *{
    margin-right: 5px;
    display: flex;
}
.comment-user-name{
    font-weight: bold;
    word-wrap: normal;
    overflow-x: hidden;

}
.no-comments-message{
    font-size: 40px;
    text-align: center;
}
.comment-likes-section{
    margin-left: 30px;
    font-size: 15px;
    color: gray;
    display: flex;
    align-items: center;
}
.post-likes-section{
    padding-left: 23px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    position: relative;
}
.number-post-likes{
    font-size: 25px;
}
.like-post-btn{
    position: absolute;
    right: 30px;
}
.post-comment-form{
    /* position: absolute; */
    margin-left: 15px;
    bottom: 0;

}
.post-comment-form > *{
    position: absolute;
    bottom: 0;

}
.comment-del-btn{
    /* border: 1px solid black; */
    /* margin-left: 200px; */
    /* background-color: black; */
    position: absolute;
    right: -5px;
    padding-bottom: 10px;
    top: 23px;
}
