.post-detail-img {
    display: flex;
    object-fit: cover;
    width: 1rem;
    height: ;

    /* height: auto; */
    
}

.username {
    display: flex;
    background-color: transparent;
    
}

.main-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    max-width: 400px;
    max-height: 400px;
}