.following-display-container {
    width: 400px;
}

.following-display-top {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 15px;
    border-bottom: 1px solid #DBDBDB;
}

.following-display-top > div {
    width: 90%;
    display: flex;
    justify-content: center;
}

.following-display-bottom {
    width: 100%;
    height: 200px;
}

.follower-item {
    width: 383px;
    height: 60px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.follower-info {
    display: flex;
    flex-direction: row;
}

.follower-info > a {
    display: flex;
    align-items: center;
}

.follow-display-profpic-container {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.follow-display-profpic-container > img {
    width: 100%;
    height: 100%;
}
