.create-post-form-container {
  width: 745px;
  height: 390px;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  border-radius: 10px;
}

.create-post-top-bar {
  display: flex;
  flex-direction: row;
  height: 42px;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid rgb(234, 234, 234);
}

.create-post-top-bar > div {
  font-size: 16px;
}

.create-post,
.cancel-button {
  border: none;
  background-color: transparent;
  color: #0095f6;
  font-size: 16px;
  transition-duration: 0.4s;
}

.create-post-form label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.create-post-form input {
  height: 30px;
  border: #d3d3d3 1.5px solid;
  width: 250px;
  border-radius: 5px;
  color: gray;
  display: flex;
  align-items: center;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.create-post-form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
}

.preview-image {
  height: 348px;
  width: 50%;
  object-fit: fill;
}
/* .preview-image[alt]{
  background-image: url("https://github.com/jmartinezsal/Culturegram/blob/main/react-app/src/images/not-found.png?raw=true");
  display: none;
} */

.caption-div {
    margin-left: 10px;
}

.create-img-container {
  height: 348px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* .post-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

.post-form {
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* .post-form > div {
  height: 100px;
} */

.user-post-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  max-width: 400px;
}
