.post-options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.post-options-container div {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.give-me-a-border {
    border-top: 1px solid #DBDBDB
}
