.edit-profile-page{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    border-left: 1px solid rgba(185, 183, 183, 0.407);
    border-right: 1px solid rgba(185, 183, 183, 0.407);
}
.profileEdit-image{
    width: 90px;
    border-radius: 100%;
}
.edit-profile-upper{
    width: 370px;
    height: 100px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.edit-profile-upper > *{
    margin: 0 40px;
}
.edit-profile-img{
    /* padding-right: 20px; */
}
.profile-edit-username{
    /* padding-left: 20px; */
    font-size: x-large;
    min-width: 150px;
}
.edit-profile-lower > form{
    display: flex;
    flex-direction: column;
    width: 400px;
    position: relative;
}
.edit-profile-lower > form > div{
    display: flex;
    width: 330px;
    justify-content: space-between;
    align-items: center;
    min-height: 5vh;
    /* background-color: blue; */
}
.edit-profile-lower > form > div > p{

    text-align: right;
    /* border: 1px solid black; */
    width: 30%;
    font-weight: 600;
}
.edit-profile-lower > form > div > input, textarea{
    /* height: 200px; */
    /* background-color: brown; */
    border: 1px solid rgb(185, 183, 183);
    border-radius: 5px;
    width: 68%;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
    padding: 5px;
    resize: vertical;
}

input[type=radio]{
    margin: 10px;
}
.edit-profile-submit{
    background-color: rgb(69,142,255);
    border-color:  rgb(69,142,255);
    padding: 10px;
    padding-left: 10px;
    margin-left: 155px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow: none;
    border: none;
    width: 70px;
    margin-bottom: 40px;

}
