
.pp-username{
    font-size: 30px;
}

.profile-top-section{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(167, 167, 167, 0.391);
    padding-bottom: 100px;
    margin-top: 60px;

}

.pp-user-image{
    width: 150px;
    height: 150px;
    border-radius: 999px;
    object-fit: cover;
}

.pp-user-follow {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.follow-button {
    width: 90px;
    height: 30px;
    background-color: #0095F6 ;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
}

.unfollow-button {
    width: 90px;
    height: 30px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
}

.profile-page-user-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 25px;
    margin-left: 40px;
}

.pp-num-posts-and-followings{
    display: flex;
    justify-content: space-between;
    width: 350px;

}
.pp-user-bio{
    color: rgba(0, 0, 0, 0.727);
    font-size: 20px;
}

.pp-user-post-image{
    width: 250px;
    height: 250px;
    object-fit: fill;
}

.pp-user-post{
    width: 250px;
    height: 250px;

    margin-left: 20px;
    cursor: pointer;
}

.pp-user-post > img {
    height: 100%;
    object-fit: cover;
}

.pp-user-post-display{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    padding-top: 30px;
    width: 900px;
    margin: 0 auto;
}

.pp-post-display-header{
    text-align: center;
    margin-top: 10px;
}

.followers-div{
    display: flex;
    align-items: center;
    padding-bottom: 23px;
}

.user-info-text{
    color: rgba(0, 0, 0, 0.653);
    font-size: 20px;
}

.followers-button{
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.following-button{
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.followers{
    margin-top: 1px;
}
