.nav-home{
  display: flex;
  justify-content: space-between;
  padding-left: 170px;
  height: 60px;
  align-items: center;
  border: 1px solid rgba(167, 167, 167, 0.391);
}
.nav-home ul{
  display: flex;
  width: 10em;
  margin-right: 160px;
  justify-content: space-evenly;
}
.nav-home ul li{
  list-style: none;
  text-decoration: none;
  /* margin-left: 1.2em; */
  cursor: pointer;
  width: max-content;
}
.nav-header{
  cursor: pointer;
}
